* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  font-family: helvetica;
  font-weight: 600;
  font-size: 3em;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 80px 20px 20px;
  row-gap: 30px;
  height: auto;
}

.container img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#captionBox {
  position: fixed;
  display: none;
  background-color: rgba(0, 255, 0, 1);
  color: black;
  padding: 8px 12px;
  font-size: 1.2em;
  border: 1.5px solid black;
  pointer-events: none;
  z-index: 999;
  max-width: 130px;
  white-space: pre-wrap;
  word-break: keep-all; /*하이픈 제거*/
}